@import "config", "rooms", "home", "alerts", "chat", "forms", "mediaqueries";

body {
  background-color: $secondary-color;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23f4f7f6' stroke-width='0.33' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(25 1000 750) scale(38.95) translate(-974.33 -730.74)'%3E%3Cuse fill='%23eff2f1' href='%23s' y='2'/%3E%3Cuse fill='%23eff2f1' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23eaedec' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23eaedec' href='%23s'/%3E%3Cuse fill='%23e5e8e7' href='%23s' x='2'/%3E%3Cuse fill='%23e5e8e7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(25 1000 750) scale(38.95) translate(-974.33 -730.74)'%3E%3Cg fill='%23e0e3e2'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(25 1000 750) scale(38.95) translate(-974.33 -730.74)'%3E%3Cg fill='%23e0e3e2'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(25 1000 750) scale(38.95) translate(-974.33 -730.74)'%3E%3Cg fill='%23dcdedd'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(25 1000 750) scale(38.95) translate(-974.33 -730.74)'%3E%3Cg fill='%23f4f7f6'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23d7d9d8'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(25 1000 750) scale(38.95) translate(-974.33 -730.74)'%3E%3Cg fill='%23e0e2db'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(25 1000 750) scale(38.95) translate(-974.33 -730.74)'%3E%3Cg fill='%23e0e2db'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(25 1000 750) scale(38.95) translate(-974.33 -730.74)'%3E%3Cg fill='%23e0e2db'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  @include set-text-color($primary-color);
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Londrina Solid", cursive !important;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    @include set-text-color($primary-color);
  }
  button {
    cursor: pointer;
    border: none;
    padding: 12px 35px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: "Londrina Solid", cursive;
    letter-spacing: 1;
    background-color: $tertiary-color;
    color: $light-text;
    transition: background-color 0.5s;
  }
  button:focus,
  button:active {
    outline: none;
    box-shadow: none;
  }
  button:hover {
    background-color: darken($tertiary-color, 10%);
  }
  p {
    margin: 0;
  }
}

nav {
  background-color: $primary-color !important;
  border-bottom: 10px solid $tertiary-color;
  font-size: 23px;
  z-index: 1000;
  .nav-link {
    transition: color 0.5s;
    color: $light-text !important;
    margin: auto;
    padding: 5px 30px !important;
  }
  .nav-link:hover {
    color: lighten($tertiary-color, 15%) !important;
  }

  .nav-logo {
    font-size: 27px;
    padding-left: 25px;
    width: 40%;
  }

  .nav-item {
    text-align: center;
  }

  .navbar-toggler {
    margin-top: 0;
  }

  #navbarNav {
    justify-content: flex-end;
  }
}

footer {
  background-color: $primary-color;
  width: 100%;
  height: 40px;
  color: $light-text;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
  flex-grow: 1;
  input,
  textarea {
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    border: none;
    font-family: "Roboto", sans-serif;
  }
  input {
    height: 50px;
    letter-spacing: 0;
    padding: 5px 15px;
  }
  textarea {
    resize: none;
    padding: 10px 15px;
  }
}
